services:
  gitlab:
    image: gitlab/gitlab-ce:18.3.5-ce.0
    container_name: gitlab
    restart: always
    hostname: ${GITLAB_DOMAIN}
    networks:
      - traefik-public
    env_file:
      - .env
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Add any other gitlab.rb configuration here, each on its own line
        external_url "http://${GITLAB_DOMAIN}"
        puma['worker_processes'] = 0
        sidekiq['concurrency'] = 5
        mattermost['enable'] = false
        mattermost_nginx['enable'] = false
        prometheus['enable'] = false
        alertmanager['enable'] = false
        prometheus_monitoring['enable'] = false
        postgres_exporter['enable'] = false
        pgbouncer_exporter['enable'] = false
        node_exporter['enable'] = false
        redis_exporter['enable'] = false
        monitoring_role['enable'] = false
        gitlab_exporter['enable'] = false

        gitaly['env'] = {
          'GITALY_COMMAND_SPAWN_MAX_PARALLEL' => '2'
        }

    ports:
      - "22:22"
    volumes:
      - "${GITLAB_HOME}/config:/etc/gitlab"
      - "${GITLAB_HOME}/logs:/var/log/gitlab"
      - "${GITLAB_HOME}/data:/var/opt/gitlab"
    shm_size: "256m"
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public

      - traefik.http.services.gitlab-frontend.loadbalancer.server.port=80

      - traefik.http.routers.gitlab-frontend-http.rule=Host(`${GITLAB_DOMAIN?Variable not set}`)
      - traefik.http.routers.gitlab-frontend-http.entrypoints=http

      - traefik.http.routers.gitlab-frontend-https.rule=Host(`${GITLAB_DOMAIN?Variable not set}`)
      - traefik.http.routers.gitlab-frontend-https.entrypoints=https
      - traefik.http.routers.gitlab-frontend-https.tls=true
      - traefik.http.routers.gitlab-frontend-https.tls.certresolver=le

      #Enable HTTPS redirect 
      - traefik.http.routers.gitlab-frontend-http.middlewares=https-redirect,ip-allowlist
      - traefik.http.routers.gitlab-frontend-https.middlewares=ip-allowlist

networks:
  traefik-public:
    external: true